<ul class="navbar-nav nav-bg-color">
  <li class="nav-item">
    <a class="nav-link" href="javascript:;" (click)="toggleSidebar()">
      <i class="fas fa-bars"></i>
    </a>
  </li>
  <li class="nav-item d-none d-sm-inline-block">
    <a
      class="nav-link"
      [routerLink]="['todos']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ "TodoRecords" | localize }}
    </a>
  </li>
  <li class="nav-item d-none d-sm-inline-block">
    <a
      class="nav-link"
      [routerLink]="['in-progress']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ "InProgress" | localize }}
    </a>
  </li>
  <li class="nav-item d-none d-sm-inline-block">
    <a
      class="nav-link"
      [routerLink]="['completed']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ "Completed" | localize }}
    </a>
  </li>
</ul>